extends ../template/layout
include ../mixins/form-helper

block content
  -if(!user.isSetup)
    #firstTimeProfile
      .row
        .large-12.columns
          h1.subheader Set up your profile to begin!
      .row
        .large-offset-4.large-4.columns
          button#initSetup.button.expand.success.radius Begin Setup!
    #profileSetup.hidden(data-userId=user.id)
      .row
        .large-3.columns
          img#profilePic
        mixin field('large-3', 'text', 'name', 'Name', user.name)
        mixin field('large-3', 'text', 'location', 'Location', null, 'NY, NY', true)
        mixin field('large-3', 'text', 'birthday', 'Birthday', null, '01/01/1965')
        .large-12.columns
        mixin field('large-3', 'file', 'picture', null, null, null, null, 'picUpload')
        .large-9.columns
        //- .row
          //- .large-12.columns
            //- button#savePic.button.small.success.radius Save Pic
        .row
          .large-12.columns
            h1.subheader --- MY FAVORITE TEAMS ---
        #pickTeams
          .row
            .large-12.columns
              - var nflTeams = [], nbaTeams = [], mlbTeams = [], nhlTeams = [];
              - each team in teams
                - if(team.league === 'nfl'){nflTeams.push(team.name);}
                - else if(team.league === 'nba'){nbaTeams.push(team.name);}
                - else if(team.league === 'mlb'){mlbTeams.push(team.name);}
                - else if(team.league === 'nhl'){nhlTeams.push(team.name);}
              - var leagues = [['nfl', nflTeams.sort(), 'football'], ['nba', nbaTeams.sort(), 'basketball'], ['mlb', mlbTeams.sort(), 'baseball'], ['nhl', nhlTeams.sort(), 'hockey']]
              - each league in leagues
                .leagueCat= league[0].toUpperCase()
                  img.carat(src='../images/blue-right-arrow.png')
                .teamList(data-sport=league[2], data-league=league[0])
                  - each team in league[1]
                    .team
                      - var modTeam = team.toLowerCase().split(' ').join('_')
                      img(class=modTeam , src='../images/' + league[0].toUpperCase() + '/lgo_' + league[0] + '_' + modTeam + '.png')
                .clear
        .row
          .large-offset-4.large-4.columns
            button#finishSetup.button.expand.success.radius Finish Setup
  -else
    .row
      .large-12.columns
        #profileContainer
          .row
            .large-3.columns
              #profilePic
              ul#userInfo
                - if (currentUserId !== user.id)
                  li: button#bro.button.small.radius.success Bro Up!
                li= user.name
                li= user.location
                  - var age = Math.floor((new Date() - user.birthday) / 1000 / 60 / 60 / 24 / 365)
                li= 'Age ' + age
            .large-6.columns
              #userTeams
                - var userTeams = [];
                - each team in user.favTeams
                  - if(team.teamName)
                    - userTeams.push(team.teamName.split('_').join(' '))
                    .teamShow
                      img(src='../images/' + team.league.toUpperCase() + '/lgo_' + team.league + '_' + team.teamName + '.png')
                      span.teamShowReason= '"' + team.teamReason +  '"'
            .large-3.columns
              #teamStats
                h5.subheader ESPN.com Headlines
              ul.headlines
                - each link in dataScraped
                  li: a(href=link[1])= link[0]


        //- .row
        //-   .large-12.columns
        //-     h1.subheader --- MY FAVORITE PLAYERS ---
        //- #pickPlayers
        //-   .row
        //-     .large-3.columns
        //-       input(type=text).expand
        //-     .large-3.columns
        //-       select#leagueSelect
        //-         option(value='nfl') NFL
        //-         option(value='nba') NBA
        //-         option(value='mlb') MLB
        //-         option(value='nhl') NHL
        //-     .large-3.columns
        //-       button.getPlayer.button.radius.expand.small Find Player
        //-     .large-3.columns













//- mixin field(colSize, type, name, text, value, placeholder, autofocus)
//-   div(class='#{colSize} columns')
//-     if text
//-       label(for=name) #{text}:
//-     input(value=value, type=type, name=name, placeholder=placeholder, autofocus=autofocus)






